body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #3b3b3b;
    background: #f7f7f7;
}

textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: 0;

}

textarea:hover, textarea:focus {
    box-shadow: 0px 2px 2px rbga(0, 0, 0, 0.15);
}
button.btn {
    display: block;
    outline: 0;
    margin: 10px 0px 30px;
}
table{
    border:1px solid black;
}

td{
    width:100px !important;
    height:100px !important;
    text-align: center;
    vertical-align: middle;
}


#robo{
    height: 90px;
    width:auto;
    position: relative;
}

div{
    margin: 5px !important;
}